.ad-list {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.left-side {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.left-side #head {
  margin-top: 55px;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-left: 0px;
}
.filter {
  background-color: #dbdfe0;
}

.left-side #top-heading {
  font-size: 16px;
  margin-top: 24px;
}
.left-side h3 {
  font-weight: 800;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 19px;
}
.left-side p {
  margin-left: 50px;
  margin-top: 5px;
  font-weight: 500;
  color: #6e6e6e;
  margin-right: 100px;
}
#selected-filter {
  font-weight: 700;
  font-size: 16px;
  color: #01020b;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 110px;
}

.ad-section {
  display: flex;
}

.ad-section p {
  margin-top: 50px;
}
#title {
  margin-right: 15px;
  font-weight: 600;

  font-size: 16px;
}
#selected {
  color: #fff;
  font-weight: 800;
  font-size: 13px;
  background-color: #7700fc;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}
#normal {
  background-color: #fff;
  color: #01020b;
  padding: 3px 20px 3px 20px;
  font-size: 13px;
  font-weight: 800;
  border: #3d3e3e solid 0.5px;
  margin-left: 1px;
  cursor: pointer;
}
.ad-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5rem;
  margin-top: 70px;
}
